vscode/.config/Code\ -\ OSS/
!vscode/.config/Code\ -\ OSS/User/settings.json
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/ftplugin/
systemd/.config/systemd/user/default.target.wants/
aria2/.aria2/dht.dat
gnupg/*
!gnupg/.gnupg/gpg.conf

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

# Top secret!
ssh/.ssh/authorized_keys
ssh/.ssh/id_*
ssh/.ssh/*.pem
ssh/.ssh/known_hosts
nvim/.config/nvim/tags
fish/.config/fish/fish_variables
