vscode/.config/Code\ -\ OSS/
!vscode/.config/Code\ -\ OSS/User/settings.json
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/ftplugin/
systemd/.config/systemd/user/default.target.wants/
aria2/.aria2/dht.dat
gnupg/*
!gnupg/.gnupg/gpg.conf

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

# Top secret!
ssh/.ssh/authorized_keys
ssh/.ssh/id_*
ssh/.ssh/*.pem
ssh/.ssh/known_hosts
nvim/.config/nvim/tags
fish/.config/fish/fish_variables
fish/.config/fish/conf.d/*
fish/.config/fish/completions/*
fish/.config/fish/functions/*
mpv/.config/mpv/watch_later/*
hammerspoon/.config/hammerspoon/Spoons/RecursiveBinder.spoon/docs.json
nvim/.config/nvim/colors.vimrc
kitty/.config/kitty/colors.conf
fish/.config/fish/private.fish
