[Unit]
Description=Reminder to look far and outside to reduce eyestrain

[Timer]
OnStartupSec=30min
OnUnitActiveSec=30min
Unit=look-out.service

[Install]
WantedBy=default.target
